<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>wbrn test</title>
        <script src="/bower_components/angular/angular.js"></script>
    </head>

    <body ng-app="test">
        <h1>{{test}}</h1>
    </body>

</html>